# Example environment variables for backend
# Copy to .env and fill in real values before running the backend.

#DATABASE_URL=sqlite:///photo_curator.db
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
JWT_SECRET_KEY=super-secret-key
REDIS_URL=redis://localhost:6379/0

# DigitalOcean and AI API keys
DO_MODEL_ACCESS_KEY=your-do-model-access-key
DIGITALOCEAN_API_TOKEN=your-digitalocean-api-token
AGENT_URL =your-agent-url
AGENT_KEY = your-agent-key
DATABASE_URL=postgresql://doadmin:your-database-password@db-postgresql-your-db-cluster.db.ondigitalocean.com:PORT/defaultdb?sslmode=require

#Google API keys
GEMINI_API_KEY=your-gemini-api-key


